[github]
	user = klemjul
[user]
	email = 60812459+klemjul@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	editor = code --wait
[commit]
	gpgSign = true
[gpg]
	format = ssh